
  <% content_for :title do %>
    <h1>Upcoming related events</h1>
    <p>Aggregating events related with methane gas. If you know another event, please contact us</p>
  <% end %>




  <% content_for :body_content_left do %>
    <div class="post_content">
      <div class="top_posts"></div>
        <div class="middle_posts">
            <div class="head_posts">
              <div class="left">
                <h1>Upcoming events</h1>
                <p><%= pluralize(@events.size, "event","events") %></p>
              </div>
              <span class="line"></span>
            </div>
            <ul id="events">
              <% @events.each do |event| %>
                <li class="last">
                  <div class="left">
                    <p class="day"><%=event.from.strftime("%d")%></p>
                    <p class="month"><%=event.from.strftime("%b").upcase%></p>
                  </div>
                  <div class="right">
                    <h2><%= link_to event.title, event_url(event) %></h2>
                    <p class="location"><%= event.location %> | <%=event.from.strftime("#{to_ordinal(event.from.day)} %b")%> &#8594; <%=event.to.strftime("#{to_ordinal(event.to.day)} %b")%></p>
                    <%= raw event.description %>
                  </div>
                </li>
              <% end %>
            </ul>
        </div>
      <div class="bottom_posts">
        <a href="#">Previous events</a>
      </div>
    </div>
  <% end %>

  <% content_for :body_content_right do %>
    <%= @page[Page.default_parts.second.to_sym] %>
    <div class="opaque">
      <div class="top"></div>
      <div class="middle">
        <div class="head">
          <h3>Calendar view</h3>
          <p>Browse events by month</p>
          <span class="line"></span>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  <%- end %>  
  

<%= render :partial => "/shared/content_page" %>
