<div class="title">
  <div class="inner_title">
    <div class="left">
        <h1 class="galleries_content">Media resources for scientifics and citizens</h1>
    </div>
    <div class="right galleries_content">
      <ul>
        <% @named_galleries.each do |gallery| %>
          <li><a onclick="javascript:void $.scrollTo('#gallery-<%= gallery.id %>',400)"><%= gallery.name %></a><span class="line"></span></li>
        <% end %>
        <li class="last"><a onclick="javascript:void $.scrollTo('#gallery-by-region',400)">SITES BY REGION</a><span class="line"></span></li>
      </ul>
    </div>
  </div>
</div>

<div id="content">

  <% @named_galleries.each do |gallery| %>
    <div class="media">
      <div class="head_post">
        <div class="top" id="gallery-<%= gallery.id %>"></div>
        <div class="middle">
          <div class="left">
            <h1><%= link_to(gallery.name, gallery_url(gallery)) %></h1>
          </div>
          <div class="right">
            <ul>
              <li class="last"><p class="videos"><%= pluralize(gallery.gallery_entries.video.count, 'video', 'videos') %></p></li>
              <li><p class="photos"><%= pluralize(gallery.gallery_entries.image.count, 'photo', 'photos') %></p></li>
            </ul>
          </div>
          <span class="line"></span>
        </div>
      </div>
      <div class="middle">
        <% if gallery.gallery_entries.count!=0 %>
          <div class="galleryStyle">
            <% gallery.gallery_entries.each do |entry| %>
              <% if entry.video? %>
                <a href="<%= strip_tags(entry.body) %>"><img type="video" src="<%= entry.image.thumbnail(:huge).url %>" alt="<%=entry.name%>" title="<%=entry.name%>"></a>
              <% else %>
                <a href="<%= entry.image.thumbnail(:huge).url %>"><img src="<%= entry.image.thumbnail(:huge).url %>" alt="<%=entry.name%>" title="<%=entry.name%>"></a>
              <% end -%>
            <% end -%>
          </div>
        <%-end%>
        <div class="bottom_content">
          <%=raw three_column_text(gallery.body) %>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  <% end %>

  <%= render :partial => 'galleries/other_albumns' %>
</div>
<%= render :partial => "/shared/content_page" %>