<div class="title">
  <div class="inner_title">
    <div class="left">
        <h1>Media resources for scientifics and citizens</h1>
    </div>
    <div class="right">
      <ul>
        <li><a href="#gallery-<%= @human_activities_gallery.id %>">HUMAN ACTIVITIES GALLERY</a><span class="line"></span></li>
        <li><a href="#gallery-<%= @natural_system_gallery.id %>">NATURAL SYSTEM GALLERY</a><span class="line"></span></li>
        <li class="last"><a href="#gallery-<%= @sites_by_region_gallery.id %>">SITES BY REGION</a><span class="line"></span></li>
      </ul>
    </div>
  </div>
</div>

<div id="content">

  <div class="media" id="gallery-<%= @human_activities_gallery.id %>">
    <div class="head_post">
      <div class="top"></div>
      <div class="middle">
        <div class="left">
          <h1><%= link_to(@human_activities_gallery.name, gallery_url(@human_activities_gallery)) %></h1>
        </div>
        <div class="right">
          <ul>
            <li class="last"><p class="videos"><%= pluralize(@human_activities_gallery.gallery_entries.video.count, 'video', 'videos') %></p></li>
            <li><p class="photos"><%= pluralize(@human_activities_gallery.gallery_entries.image.count, 'photo', 'photos') %></p></li>
          </ul>
        </div>
        <span class="line"></span>
      </div>
    </div>
    <div class="middle">
      <% if @human_activities_gallery.gallery_entries.size!=0 %>
        <div class="slider">
          <% @human_activities_gallery.gallery_entries.each do |entry| %>
            <%= image_fu entry.image, :huge, :alt => entry.name, :title => entry.name %>
          <% end -%>
        </div>
      <%-end%>
      <div class="bottom_content">
        <%=raw three_column_text(@human_activities_gallery.body) %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="media" id="gallery-<%= @natural_system_gallery.id %>">
    <div class="head_post">
      <div class="top"></div>
      <div class="middle">
        <div class="left">
          <h1><%= link_to(@natural_system_gallery.name, gallery_url(@natural_system_gallery)) %></h1>
        </div>
        <div class="right">
          <ul>
            <li class="last"><p class="videos"><%= pluralize(@natural_system_gallery.gallery_entries.video.count, 'video', 'videos') %></p></li>
            <li><p class="photos"><%= pluralize(@natural_system_gallery.gallery_entries.image.count, 'photo', 'photos') %></p></li>
          </ul>
        </div>
        <span class="line"></span>
      </div>
    </div>
    <div class="middle">
      <% if @human_activities_gallery.gallery_entries.size!=0 %>
        <div class="slider">
          <% @natural_system_gallery.gallery_entries.each do |entry| %>
            <%= image_fu entry.image, :huge, :alt => entry.name, :title => entry.name %>
          <% end -%>
        </div>
      <%-end%>
      <div class="bottom_content">
        <%=raw three_column_text(@natural_system_gallery.body) %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="galleries_by_region" id="gallery-<%= @sites_by_region_gallery.id %>">
    <div class="top"></div>
    <div class="middle">
      <h3>Other sites Galleries by Region</h3>
      <ul>
        <% unless @sites_by_region_gallery.gallery_entries.empty? %>
          <% @sites_by_region_gallery.gallery_entries.each do |entry| %>
          <li <%=raw cycle('', '', 'class="last"') %>>
            <div class="image">
              <%= link_to(image_fu(entry.image, :small), gallery_gallery_entry_url(gallery, entry)) %>
            </div>
            <div class="text">
              <%= simple_format(truncate(entry.body, :length => 80)) %>
            </div>
          </li>
          <% end -%>
        <% end -%>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<%= render :partial => "/shared/content_page" %>