<div class="title">
  <div class="inner_title">
    <div class="left">
        <h1>Media resources for scientifics and citizens</h1>
    </div>
    <div class="right">
      <ul>
        <li><a href="#">HUMAN ACTIVITIES GALLERY</a><span class="line"></span></li>
        <li><a href="#">NATURAL SYSTEM GALLERY</a><span class="line"></span></li>
        <li class="last"><a href="#">SITES BY REGION</a><span class="line"></span></li>
      </ul>
    </div>
  </div>
</div>

<div id="content">

  <% @galleries.each do |gallery| %>
  <div class="media">
    <div class="head_post">
      <div class="top"></div>
      <div class="middle">
        <div class="left">
          <h1><%= link_to(gallery.name, gallery_url(gallery)) %></h1>
        </div>
        <div class="right">
          <ul>
            <li class="last"><p class="videos"><%= pluralize(gallery.gallery_entries.video.count, 'video', 'videos') %></p></li>
            <li><p class="photos"><%= pluralize(gallery.gallery_entries.image.count, 'photo', 'photos') %></p></li>
          </ul>
        </div>
        <span class="line"></span>
      </div>
    </div>
    <div class="middle">
      <div class="slider">
        <% gallery.gallery_entries.each do |entry| %>
          <%= image_fu entry.image, :huge, :alt => entry.name, :title => entry.name %>
        <% end -%>
      </div>
      <div class="bottom_content">
        <%=raw three_column_text(gallery.body) %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
  <% end -%>

  <div class="galleries_by_region">
    <div class="top"></div>
    <div class="middle">
      <% galleries = Feature.limit(6).order('created_at DESC').map(&:gallery) %>
      <h3>Other sites Galleries by Region</h3>
      <ul>
        <% galleries.each do |gallery| %>
        <li <%=raw cycle('', '', 'class="last"') %>>
          <div class="image">
            <%= link_to(image_fu(gallery.gallery_entries.first.image, :small), gallery_url(gallery)) %>
          </div>
          <div class="text">
            <%= simple_format(truncate(gallery.body, :length => 80)) %>
          </div>
        </li>
        <% end -%>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<%= render :partial => "/shared/content_page" %>