<% if feature = Feature.find_by_gallery_id %>
  <span id="latitude" class="hidden"><%= feature.the_geom.lat %></span>
  <span id="longitude" class="hidden"><%= feature.the_geom.lon %></span>
<% end -%>

<div id="content">
  <div class="main_media">
    <div class="head_post">
      <div class="top"></div>
      <div class="middle">
        <div class="left">
          <p class="back"><a href="<%= galleries_url %>">Back to galleries</a></p>
          <h1><%= @gallery.name %></h1>
        </div>
        <div class="right">
          <ul>
            <li class="last"><p class="videos"><%= pluralize(@gallery.gallery_entries.video.count, 'video', 'videos') %></p></li>
            <li><p class="photos"><%= pluralize(@gallery.gallery_entries.image.count, 'photo', 'photos') %></p></li>
          </ul>
        </div>
        <span class="line"></span>
      </div>
    </div>
    <div class="middle">
      <div class="galleryStyle">
        <% @gallery.gallery_entries.each do |entry| %>
        <% if entry.video? %>
          <a href="<%= entry.body %>"><img type="video" src="<%= entry.image.thumbnail(:huge).url %>" alt="<%=entry.name%>" title="<%=entry.name%>"></a>
        <% else %>
          <a href="<%= entry.image.thumbnail(:huge).url %>"><img src="<%= entry.image.thumbnail(:huge).url %>" alt="<%=entry.name%>" title="<%=entry.name%>"></a>
        <% end -%>
        <% end -%>
      </div>
      <div class="bottom_content">
        <% if feature = Feature.find_by_gallery_id(@gallery.id) %>
        <div class="block map" id="map">
        </div>
        <% end -%>
        <div class="block">
          <%=raw @gallery.body %>
        </div>
        <div class="block last"></div>
      </div>
    </div>
    <% if feature = Feature.where({:gallery_id => @gallery.id}).first %>
    <div class="bottom">
      <a href="<%= feature_url(feature) %>">View site details</a>
    </div>
    <% end -%>
  </div>

  <%= render :partial => 'galleries/other_albumns' %>

</div>