<% if feature = Feature.where({:gallery_id => @gallery.id}).limit(1).first %>
  <span id="latitude" class="hidden"><%= feature.the_geom.lat %></span>
  <span id="longitude" class="hidden"><%= feature.the_geom.lon %></span>
<% end -%>

<div id="content">
  <div class="main_media">
    <div class="head_post">
      <div class="top"></div>
      <div class="middle">
        <div class="left">
          <p class="back"><a href="<%= galleries_url %>">Back to galleries</a></p>
          <h1><%= @gallery.name %></h1>
        </div>
        <div class="right">
          <ul>
            <li class="last"><p class="videos"><%= pluralize(@gallery.gallery_entries.video.count, 'video', 'videos') %></p></li>
            <li><p class="photos"><%= pluralize(@gallery.gallery_entries.image.count, 'photo', 'photos') %></p></li>
          </ul>
        </div>
        <span class="line"></span>
      </div>
    </div>
    <div class="middle">
      <div class="slider">
        <% @gallery.gallery_entries.each do |entry| %>
          <%= image_fu entry.image, :huge, :alt => entry.name, :title => entry.name %>
        <% end -%>
      </div>
      <div class="bottom_content">
        <div class="block map" id="map">
        </div>
        <div class="block">
          <%=raw @gallery.body %>
        </div>
        <div class="block last"></div>
      </div>
    </div>
    <% if feature = Feature.where({:gallery_id => @gallery.id}).first %>
    <div class="bottom">
      <a href="<%= feature_url(feature) %>">View site details</a>
    </div>
    <% end -%>
  </div>

  <div class="galleries_by_region">
    <div class="top"></div>
    <div class="middle">
      <% galleries = Feature.limit(6).order('created_at DESC').map(&:gallery) %>
      <h3>Other sites Galleries by Region</h3>
      <ul>
        <% galleries.each do |gallery| %>
        <li <%=raw cycle('', '', 'class="last"') %>>
          <div class="image">
            <%= link_to(image_fu(gallery.gallery_entries.first.image, :small), gallery_url(gallery)) %>
          </div>
          <div class="text">
            <%= simple_format(truncate(gallery.body, :length => 80)) %>
          </div>
        </li>
        <% end -%>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>

</div>