<!DOCTYPE html>
<html>
<head>
  <title>FROZEN HEAT</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%= raw stylesheet_link_merged :base %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <div id="explore_map"></div>
  <div id="blue_bkg"></div>

  <div id="header" class="explore">
    <div class="inner_header">
      <div class="logo">
        <a href="/"><%= image_tag 'common/logo.jpg' %></a>
        <a href="http://www.grida.no/" target="_blank" class="logo"></a>
      </div>
      <ul>
        <li <% if (controller_name=='posts')%> <%="class='last current'"%><%else%><%="class='last'"%><%-end%>><a href="/blog">BLOG</a></li>
        <li <% if (controller_name=='about')%> <%="class='current'"%><%-end%>><a href="/about">LEARN MORE</a></li>
        <li <% if (controller_name=='events')%> <%="class='current'"%><%-end%>><a href="/events">UPCOMING EVENTS</a></li>
        <li <% if (controller_name=='galleries')%> <%="class='current'"%><%-end%>><a href="/galleries">MEDIA RESOURCES</a></li>
        <li <% if (controller_name=='features')%> <%="class='current'"%><%-end%>><a href="/explore">EXPLORE THE SITES</a></li>
      </ul>
      <a onclick="zoomIn()" id="zoomIn"></a>
      <a onclick="zoomOut()" id="zoomOut"></a>
      <img class="loader" src="/images/explore/loading.png" title="loading" alt="loading"/>
    </div>
  </div>

  <div id="explore_content">
    <div class="body_content_left">
      <div class="explore_content">
        <div class="top_explore"></div>
          <div class="middle_explore">
            <div class="head_explore">
              <div class="left">
                <% if @features.total_pages > 1 %>
          <h1>Viewing from <%= @features.size %> of <%= @features.total_entries %> sites</h1>
        <% else %>
          <h1>Viewing <%= pluralize(@features.total_entries, "site","sites") %></h1>
        <% end %>
                <p>Global methane gas hydrate occurrences</p>
              </div>
              <% if @features.total_pages > 1 %>
              <div class="right">
                <p><a href="<%= features_path(:all => true) %>">view all</a></p>
              </div>
              <% end %>
              <span class="line"></span>
            </div>
            <ul id="site_list">

              <% @features.each_with_index do |feature,i| %>
              <li <%= raw('class="last"') if feature == @features.last %>>
                <div class="head">
                  <div class="image">
                    <p><%= i + 1 %></p>
                  </div>
                  <div class="info">
                    <h2><a href="/features/<%= feature.id %>"><%= feature.title %><%= " - #{feature.country}" unless feature.country.blank?  %></a></h2>
                    <p><%if !feature.country.blank? %><span class="first"><%else%><span><%end%><%= feature.region %></span><% unless feature.country.blank? %><span><%= feature.country %></span><% end %></p>
                  </div>
                </div>
        <% unless feature.description.blank? %>
                <p class="des"><%= truncate(strip_tags(feature.description),
                                  :omission => raw("... <a href=\"#{feature_url(feature)}\">Read more</a>"),
                                  :length => 250,
                                  :preserve_html_tags => true) %></p>
        <%end%>
                <div class="grey">
                  <div class="block">
                    <h4>PRIMARY INSTITUTION</h4>
                    <p><%= feature.primary_institution_name %></p>
                  </div>
                  <div class="block">
                    <h4>WATER DEPTH</h4>
                    <p><%= feature.water_depth %></p>
                  </div>
                  <div class="block">
                    <h4>HYDRATE DEPTH (mbsf)</h4>
                    <p><%= feature.hydrate_depth %></p>
                  </div>
                </div>
              </li>
              <%- end %>
            </ul>
          </div>
          <% if @features.total_pages > 1 %>
            <div class="bottom_posts">
              <% if @features.current_page > 1 %>
              <a href="<%= features_path(:page => @features.previous_page) %>" id="prev_button">Previous sites</a>
              <% end %>
              <% if @features.current_page < @features.total_pages %>
              <a href="<%= features_path(:page => @features.next_page) %>" class="next" id="next_button">More sites</a>
              <% end %>
            </div>
          <% else %>
            <div class="bottom_white">
              <a href="#" id="prev_button">Previous sites</a>
              <a href="#" class="next" id="next_button">More sites</a>
            </div>
          <% end %>
      </div>
    </div>

    <div class="body_content_right">
      <div class="opaque_explore">
        <div class="top"></div>
        <div class="middle">
          <img id="loading" src="/images/explore/loading.gif" title="loading" alt="loading"/>
          <h3>Filter sites</h3>
          <form action="javascript:void getSites()">
            <label>SEARCH BY NAME / COUNTRY</label>
            <div class="first_value">
              <input id="name_country" type="text" value="<%= params[:name_or_country] %>"/>
              <input type="submit" value=""/>
            </div>
            <label>PRIMARY INSTITUTION</label>
            <select>
              <option selected="yes">All</option>
              <% Feature.select("id, meta").map{ |f| f.primary_institution_name }.uniq.each do |name| %>
              <option value="<%= name %>"><%= truncate(name, :length => 33) %></option>
              <% end %>
            </select>
            <div class="long first">
              <label>WATER DEPTH (m)</label>
              <p class="water">< 2000</p>
            </div>
            <div class="water"></div>
            <div class="long">
              <label>HYDRATE DEPTH (m)</label>
              <p class="hydrate">< 2000</p>
            </div>
            <div class="hydrate"></div>
          </form>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
  </div>

  <%= render :partial => 'layouts/footer', :locals => {:extra_class => 'explore' } %>

  <%= raw javascript_include_merged :openlayer %>
  <%= raw javascript_include_merged :explore %>
</body>
</html>