<!DOCTYPE html>
<html>
<head>
  <title>FROZEN HEAT</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link href="/stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" rel="stylesheet" charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>


  <div id="explore_map"></div>
  <div id="blue_bkg"></div>

  <div id="header">
    <div class="inner_header">
      <div class="logo">
        <a href="/"><%= image_tag 'common/logo.jpg' %></a>
      </div>
      <ul>
        <li <% if (controller_name=='posts')%> <%="class='last current'"%><%else%><%="class='last'"%><%-end%>><a href="/blog">BLOG</a></li>
        <li <% if (controller_name=='about')%> <%="class='current'"%><%-end%>><a href="/about">LEARN MORE</a></li>
        <li <% if (controller_name=='events')%> <%="class='current'"%><%-end%>><a href="/events">UPCOMING EVENTS</a></li>
        <li <% if (controller_name=='galleries')%> <%="class='current'"%><%-end%>><a href="/galleries">MEDIA RESOURCES</a></li>
        <li <% if (controller_name=='features')%> <%="class='current'"%><%-end%>><a href="/features">EXPLORE THE SITES</a></li>
      </ul>
    </div>
  </div>

    
  <div id="explore_content">
    <div class="body_content_left">
      <div class="explore_content">
        <div class="top_explore"></div>
          <div class="middle_explore">
            <div class="head_explore">
              <div class="left">
                <h1>Viewing 21 Sites</h1>
                <p>Geographical points with methane gas hydrates explotations</p>
              </div>
              <div class="right">
                <p><a href="#">view all</a></p>
              </div>
              <span class="line"></span>
            </div>
            <ul id="site_list">
              <li>
                <div class="head">
                  <div class="image">
                    <p>2</p>
                  </div>
                  <div class="info">
                    <h2><a href="#">The big America Trench - El Salvador</a></h2>
                    <p><span class="first">CENTRAL AMERICA</span><span>MEXICO</span></p>
                  </div>
                </div>
                <p class="des">Methane is a chemical compound with the chemical formula CH4. It is the simplest alkane, and the principal component of natural gas. Methane’s bond angles are 109.5 degrees... <a href="#">Read more</a></p>
                <div class="grey">
                  <div class="block">
                    <h4>PRIMARY INSTITUTION</h4>
                    <p>Deep Sea Drilling Project</p>
                  </div>
                  <div class="block">
                    <h4>WATER DEPTH</h4>
                    <p>857m</p>
                  </div>
                  <div class="block">
                    <h4>HYDRATE DEPTH(mbsf)</h4>
                    <p>140, 146, 176, 181</p>
                  </div>
                </div>
              </li>
              <li class="last">
                <div class="head">
                  <div class="image">
                    <p>2</p>
                  </div>
                  <div class="info">
                    <h2><a href="#">The big America Trench - El Salvador</a></h2>
                    <p><span class="first">CENTRAL AMERICA</span><span>MEXICO</span></p>
                  </div>
                </div>
                <p class="des">Methane is a chemical compound with the chemical formula CH4. It is the simplest alkane, and the principal component of natural gas. Methane’s bond angles are 109.5 degrees... <a href="#">Read more</a></p>
                <div class="grey">
                  <div class="block">
                    <h4>PRIMARY INSTITUTION</h4>
                    <p>Deep Sea Drilling Project</p>
                  </div>
                  <div class="block">
                    <h4>WATER DEPTH</h4>
                    <p>857m</p>
                  </div>
                  <div class="block">
                    <h4>HYDRATE DEPTH(mbsf)</h4>
                    <p>140, 146, 176, 181</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="bottom_posts">
            <a href="">Previous sites</a>
            <a href="" class="next">More sites</a>
          </div>
      </div>
    </div>

    <div class="body_content_right">
      <div class="opaque_explore">
        <div class="top"></div>
        <div class="middle">
          <h3>Filter sites</h3>
          <ul id="tweets_list"></ul>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
  </div>


  <div id="footer" class="explore">
    <div class="inner_footer">
      <div class="left">
        <h4>A PROJECT BY</h4>
        <a href="/" class="logo"><%= image_tag 'common/footer_logo.jpg' %></a>
        <p>UNEP-GRID Arendal.<br/>All rights reserved.</p>
        <p class="list"><a href="#">Sitemap</a> / <a href="#">Contact</a></p>
      </div>
      <div class="right">
        <ul>
          <li class="last"><a href="#">CONTACT</a></li>
          <li><a href="/blog">BLOG</a></li>
          <li><a href="/about">LEARN MORE</a></li>
          <li><a href="/events">UPCOMING EVENTS</a>
            <div>
              <p><a href="/events">Events calendar</a></p>
            </div>
          </li>
          <li><a href="#">MEDIA RESOURCES</a>
            <div>
              <p><a href="#">Photo Galleries</a></p>
              <p><a href="#">Video Gallery</a></p>
              <p><a href="#">Vimeo page</a></p>
            </div>
          </li>
          <li><a href="#">EXPLORE THE SITES</a>
            <div>
              <p><a href="#">View list</a></p>
              <p><a href="#">View world map</a></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script>

  <script src="/javascripts/jquery-ui-1.8.5.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/explore.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
