<div class="title">
  <div class="inner_title">
  </div>
</div>

<div id="content" class="featuresbkg">
  <div class="space40"></div>
  <div class="body_content_left">
    <div class="head_site">
      <div class="top"></div>
      <div class="middle">
        <h1><%=raw @feature.title %> <%= "- #{raw(@feature.country)}" unless @feature.country.blank? %></h1>
        <%if !@feature.country.blank? %><p class="first"><%else%><p class="empty_country"><%end%><%= @feature.region %></p><p><%= "#{raw(@feature.country)}" unless @feature.country.blank? %></p>
        <span class="line"></span>
      </div>
    </div>
    <div class="middle image">
      <div class="slider">
        <% if @feature.gallery %>
          <% @feature.gallery.gallery_entries.each do |entry| %>
            <%= image_fu entry.image, :huge %>
          <% end -%>
        <% end -%>
      </div>
     <div class="line"></div>
    </div>

	<% unless @feature.description.blank? %>
	    <div class="middle_white site">
	      <%=raw @feature.description %>
	    </div>
	<% end %>
    <div class="bottom site">
      <p>This information was updated on <%= @feature.created_at.strftime("%d/%m/%G") %></p>
      <% if logged_in? %>
        <a href="/refinery/features/<%= @feature.id %>/edit">Edit this information</a>
      <%- end %>
    </div>
  </div>

  <div class="body_content_right features">
    <div class="opaque site">
      <div class="top"></div>
      <div class="middle">
        <div class="head">
          <h3>Recorded Datafields</h3>
        </div>
      </div>

      <div class="middle_map">
        <div class="outer_map">
          <div id="map" class="feature_map"></div>
        </div>
      </div>


      <div class="middle_site">
        <% unless @feature.primary_institution_name.blank? %>
        <h6>PRIMARY INSTITUTION</h6>
        <p>
          <% if @feature.primary_institution_url.blank? %>
            <%= @feature.primary_institution_name %>
          <% else %>
            <a href="<%= @feature.primary_institution_url %>" rel="nofollow"><%= @feature.primary_institution_name %></a>
          <% end -%>
        </p>
        <% end -%>
        <% unless @feature.expedition.blank? %>
        <h6>EXPEDITION</h6>
        <p><%= @feature.expedition %></p>
        <% end -%>
        <% unless @feature.water_depth.blank? %>
        <h6>WATER DEPTH</h6>
        <p><%= @feature.water_depth %></p>
        <% end -%>
        <% unless @feature.hydrate_depth.blank? %>
        <h6>HYDRATE DEPTH (mbsf)</h6>
        <p><%= @feature.hydrate_depth %></p>
        <% end -%>
        <% unless @feature.hydrate_description.blank? %>
        <h6>DESCRIPTION</h6>
        <p><%= @feature.hydrate_description %></p>
        <% end -%>
      </div>
      <% unless @feature.data_provided_by_name.blank? %>
      <div class="bottom_site">
        <p>Data provided by
        <% if @feature.data_provided_by_url.blank? %>
          <%= @feature.data_provided_by_name %>
        <% else %>
          <a href="<%= @feature.data_provided_by_url %>" rel="nofollow"><%= @feature.data_provided_by_name %></a>
        <% end -%>
        </p>
      </div>
	  <%else%>
		  <div class="bottom_site_empty">	
		  </div>
      <% end -%>
    </div>

    <div class="sites">
      <div class="top"></div>
      <div class="middle">
        <div class="head">
          <h5>Browse our sites</h5>
          <p><a href="/explore">Explore</a> methane gas sites around</p>
          <span class="line"></span>
        </div>
        <% features = Feature.limit(2).where("id != #{@feature.id}") %>
        <% unless features.empty? %>
        <ul>
          <% features.each do |feature| %>
          <li>
            <h6><a href="<%= feature_url(feature) %>"><%= feature.title %> - <%= feature.country %></a></h6>
            <span><p class="first"><%= feature.region %></p><p><%= feature.country %></p></span>
          </li>
          <% end -%>
        </ul>
        <% end -%>
      </div>
      <div class="bottom"></div>
    </div>
  </div>
</div>
<%= raw javascript_include_merged :openlayer %>
<span id="latitude" class="hidden"><%= @feature.the_geom.lat %></span>
<span id="longitude" class="hidden"><%= @feature.the_geom.lon %></span>