<!DOCTYPE html>
<html>
<head>
  <title>FROZEN HEAT</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%= raw stylesheet_link_merged :base %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= raw javascript_include_merged :base %>
</head>

<body>

  <%= render :partial => 'layouts/supersize' %>


  <div class="layout">

    <% if (action_name != 'home') %>
      <div id="header">
        <div class="inner_header">
          <div class="logo">
            <a href="/"><%= image_tag 'common/logo.jpg' %></a>
            <a href="http://www.grida.no/" target="_blank" class="logo"></a>
          </div>
          <ul>
            <li <% if (controller_name=='posts')%> <%="class='last current'"%><%else%><%="class='last'"%><%-end%>><a href="/blog">BLOG</a></li>
            <li <% if @page && @page.cached_slug == 'about'%> <%="class='current'"%><%-end%>><a href="/about">LEARN MORE</a></li>
            <li <% if (controller_name=='events')%> <%="class='current'"%><%-end%>><a href="/events">UPCOMING EVENTS</a></li>
            <li <% if (controller_name=='galleries')%> <%="class='current'"%><%-end%>><a href="/galleries">MEDIA RESOURCES</a></li>
            <li <% if (controller_name=='features')%> <%="class='current'"%><%-end%>><a href="/explore">EXPLORE THE SITES</a></li>
          </ul>
        </div>
      </div>
    <%- end %>

    <%= yield %>

    <%= render :partial => 'layouts/footer', :locals => {:extra_class => nil } %>

  </div><!-- .layout -->

</body>
</html>