<!DOCTYPE html>
<html>
<head>
  <title>FROZEN HEAT</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link href="/stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" rel="stylesheet" charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<<<<<<< HEAD
	<% if (action_name != 'sitemap') %>
		<div id="supersize">
			<img alt="Background" src="/images/backgrounds/1.jpg" />
		 </div>
<%else%>
		<div id="supersize" class="sitemap">
			<img alt="Background" src="/images/backgrounds/sitemap.jpg" />
		 </div>
<%end%>
=======

  <% if (action_name!='sitemap')%>
    <div id="supersize">
      <img alt="Background" src="/images/backgrounds/1.jpg" />
    </div>
  <%- end%>
>>>>>>> f9ab6a60f3dc3889a5efff9bf610bb75fa1882fd

  <div class="layout">

    <% if (action_name != 'home') %>
      <div id="header">
        <div class="inner_header">
          <div class="logo">
            <a href="/"><%= image_tag 'common/logo.jpg' %></a>
          </div>
          <ul>
            <li <% if (controller_name=='posts')%> <%="class='last current'"%><%else%><%="class='last'"%><%-end%>><a href="/blog">BLOG</a></li>
            <li <% if (controller_name=='about')%> <%="class='current'"%><%-end%>><a href="/about">LEARN MORE</a></li>
            <li <% if (controller_name=='events')%> <%="class='current'"%><%-end%>><a href="/events">UPCOMING EVENTS</a></li>
            <li <% if (controller_name=='galleries')%> <%="class='current'"%><%-end%>><a href="/galleries">MEDIA RESOURCES</a></li>
            <li <% if (controller_name=='features')%> <%="class='current'"%><%-end%>><a href="/explore">EXPLORE THE SITES</a></li>
          </ul>
        </div>
      </div>
    <%- end %>

    <%= yield %>

    <%= render :partial => 'layouts/footer', :locals => {:extra_class => nil } %>

  </div><!-- .layout -->

  <script src="/javascripts/OpenLayers.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="/javascripts/cloudmade.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.livequery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/fonts/cufon-yui.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/fonts/Hand_Of_Sean_400.font.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery-ui-1.8.5.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.nivo.slider.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/supersized.2.0.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.url.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>