<!DOCTYPE html>
<html>
<head>
  <title>FROZEN HEAT</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%= raw stylesheet_link_merged :base %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= raw javascript_include_merged :base %>
</head>

<% if (action_name == 'home')||(controller_name=='features')||(@page && @page.cached_slug == 'about') %>
  <body class="home">
<%elsif (controller_name=='galleries') %>
  <body class="galleries">
<%elsif (controller_name=='events')%>
  <body class="events">
<%elsif (controller_name=='posts')%>
  <body class="posts">
<%elsif (action_name == 'sitemap') %>
  <body class="sitemap">
<%elsif ((controller_name=='pages')&&(action_name != 'sitemap'))%>
  <body class="pages">
<%else%>
  <body>
<%end%>

  <div class="layout">
    <div class="ret"></div>
    <% if (action_name != 'home') %>
      <div id="header">
        <div class="inner_header">
          <div class="logo">
            <a href="/"><%= image_tag 'common/logo.jpg' %></a>
            <a href="http://www.grida.no/" target="_blank" class="logo"></a>
          </div>
          <ul>
            <li <% if (controller_name=='posts')%> <%="class='last current'"%><%else%><%="class='last'"%><%-end%>><a href="/blog">BLOG</a></li>
            <li <% if @page && (@page.cached_slug == 'about' || @page.cached_slug == 'partners' || @page.cached_slug == 'faq') %> <%="class='current'"%><%-end%>><a href="/about">LEARN MORE</a></li>
            <li <% if (controller_name=='events')%> <%="class='current'"%><%-end%>><a href="/events">UPCOMING EVENTS</a></li>
            <li <% if (controller_name=='galleries')%> <%="class='current'"%><%-end%>><a href="/galleries">MEDIA RESOURCES</a></li>
            <li <% if (controller_name=='features')%> <%="class='current'"%><%-end%>><a href="/explore">EXPLORE THE SITES</a></li>
          </ul>
        </div>
      </div>
    <%- end %>

    <%= yield %>

    <%= render :partial => 'layouts/footer', :locals => {:extra_class => nil } %>

  </div><!-- .layout -->
</body>


</html>