<!DOCTYPE html>
<html>
<head>
  <title>FROZEN HEAT</title>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <link href="/stylesheets/layout.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" rel="stylesheet" charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

  <div id="supersize">
    <img alt="Background" src="/images/backgrounds/1.jpg" />
  </div>

  <div class="layout">

    <% if (action_name != 'home') %>
		
      <div id="header">
        <div class="inner_header">
          <div class="logo">
            <a href="/"><%= image_tag 'common/logo.jpg' %></a>
          </div>
          <ul>
            <li <% if (controller_name=='posts')%> <%="class='last current'"%><%else%><%="class='last'"%><%-end%>><a href="/blog">BLOG</a></li>
            <li <% if (controller_name=='about')%> <%="class='current'"%><%-end%>><a href="/about">LEARN MORE</a></li>
            <li <% if (controller_name=='events')%> <%="class='current'"%><%-end%>><a href="/events">UPCOMING EVENTS</a></li>
            <li <% if (controller_name=='galleries')%> <%="class='current'"%><%-end%>><a href="/galleries">MEDIA RESOURCES</a></li>
            <li <% if (controller_name=='features')%> <%="class='current'"%><%-end%>><a href="/features">EXPLORE THE SITES</a></li>
          </ul>
        </div>
      </div>
    <%- end %>
    
    <%= yield %>

    <div id="footer">
      <div class="inner_footer">
        <div class="left">
          <h4>A PROJECT BY</h4>
          <a href="/" class="logo"><%= image_tag 'common/footer_logo.jpg' %></a>
          <p>UNEP-GRID Arendal.<br/>All rights reserved.</p>
          <p class="list"><a href="#">Sitemap</a> / <a href="#">Contact</a></p>
        </div>
        <div class="right">
          <ul>
            <li class="last"><a href="#">CONTACT</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="#">LEARN MORE</a></li>
            <li><a href="/events">UPCOMING EVENTS</a>
              <div>
                <p><a href="/events">Events calendar</a></p>
              </div>
            </li>
            <li><a href="#">MEDIA RESOURCES</a>
              <div>
                <p><a href="#">Photo Galleries</a></p>
                <p><a href="#">Video Gallery</a></p>
                <p><a href="#">Vimeo page</a></p>
              </div>
            </li>
            <li><a href="#">EXPLORE THE SITES</a>
              <div>
                <p><a href="#">View list</a></p>
                <p><a href="#">View world map</a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.livequery.js" type="text/javascript" charset="utf-8"></script>
  
  
  <script src="/javascripts/fonts/cufon-yui.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/fonts/Hand_Of_Sean_400.font.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery-ui-1.8.5.custom.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.nivo.slider.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/fonts/supersized.2.0.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/supersized.2.0.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/jquery.url.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/application.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>